:root {
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
}

.slider-container {
    margin: auto;
    margin-top: 100px;
    width: 80%;
    padding-top: 40px;
}

.slider-container>h1 {
    text-align: start;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: normal;
    color: black;
    background: white;
    padding: 6px;
}

.slider-container>p {
    text-align: start;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    color: black;
    background: white;
    padding: 6px;
}

.card-slick {
    display: flex;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.card-slick img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.custom-arrow {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    background: #89898955;
    transition: background 0.3s ease;
}

.custom-arrow:hover {
    background: #e8cdcdc0;
}

.prev-arrow {
    left: -40px;
}

.next-arrow {
    right: -40px;
}

.details {
    background-color: aliceblue;
    border-radius: 20px;
}