* {
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    margin: auto;
    width: 80%;
    height: 50%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.slider-container>h1 {
    text-align: start;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
    color: black;
    background: white;
    padding: 6px;
    background-image: linear-gradient(to right, #FFD194, #D1913C);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-container>p {
    text-align: start;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: normal;
    color: black;
    background: white;
    padding: 6px;
    margin-bottom: 15px;
}

.card-slick {
    display: block;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    border: #51515128 solid 1px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.card-slick:hover {
    box-shadow: rgba(50, 50, 93, 0.09) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img {
    border-radius: 15px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.imgCarousel {
    padding: 3px;
}

.details {
    font-family: Poppins, Helvetica, sans-serif;
    display: block;
    padding: 15px;
}

.head-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.duration {
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;
    color: #7a7a7a9e;
}

.location {
    display: flex;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: normal;
    color: rgb(158, 221, 155);
}

.title {
    display: flex;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: start;
    line-height: 23px;
    color: #515151;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    
}

.review {
    display: flex;
    text-align: start;
    color: #7a7a7ab3;
    font-size: 12.5px;
}

.foot-sec {
    display: flex;
    text-align: start;
    align-items: baseline;
    margin-top: 7px;
    padding-left: 2px;
}

.p-text {
    display: flex;
    font-size: 13px;
    padding-right: 8px;
    color: #5151519c;
    letter-spacing: normal;
}

.price {
    display: flex;
    font-size: 16px;
    color: #000000d2;
    line-height: 27px;
    letter-spacing: normal;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    /* text-decoration-line: line-through; */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}