* {
    margin: 0;
    padding: 0;
}

.play-section {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-section>.content {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), transparent);
    z-index: 1;
}

.overlay::after {
    left: 50%;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.8), transparent);
}

h1 {
    font-size: 30px;
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 800;
    margin-bottom: 0.2em;
}