.vid-container {
    position: relative;
  }
  
  .video-background {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    content: '';
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
  }
  