/* .vid-container {
  position: relative;
}

.video-background {
  width: 100%;
  height: auto;
}

.overlay {
  content: '';
  position: absolute;
  bottom: 0;
  height: 220px;
  width: 100%;
  background: linear-gradient(to top, #fff, transparent);
  z-index: 2;
} */


.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(forest-walk.mp4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* search-bar */

.container-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-input {
  width: 200px;
  padding: 20px 0px 20px 40px;
  border-radius: 9999px;
  border: solid 1px #333333c4;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.drop-input:focus {
  opacity: 1;
  width: 300px;
}

/* text section */

.tx-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-text {
  font-size: 4rem;
  font-weight: bolder;
  background-image: linear-gradient(to right, #FFD194, #D1913C);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-text {
  font-size: 1.7rem;
  background-image: linear-gradient(to right, #ffefba, #ffffff);
  background-image: url();
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}