@tailwind base;
@tailwind components;
@tailwind utilities;



.offer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.offer-image1 {
    width: 72vw;
    height: 70vh;
    border: 1px solid white;
    box-shadow: 5px 5px 0 0 rgba(65, 117, 5, 1), 10px 10px 0 0 rgba(65, 117, 5, 0.6), 15px 15px 0 0 rgba(65, 117, 5, 0.4), 20px 20px 0 0 rgba(65, 117, 5, 0.2), 25px 25px 0 0 rgba(65, 117, 5, 0.1);
    z-index: 0;
}

.E-button {
    position: absolute;
    bottom: 75px;
    left: 210px;
    transform: translateX(-50%);
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease;
}

.E-button:hover {
    color: #000000ea;
    border: 1px solid #0000009d;
    background: #ffffffb6;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.449);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;
}

.video-container video {
    max-width: 80%;
    border-radius: 35px;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
}

.poster-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.last-poster {
    width: 72vw;
    height: 70vh;
    z-index: 0;
    border: 4px solid rgba(172, 255, 47, 0.497);
}

.B-button {
    position: absolute;
    bottom: 70px;
    left: 250px;
    transform: translateX(-50%);
    border: 2px solid #C06542;
    background: white;
    color: #C06542;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease;
}

.B-button:hover {
    color: #98624c;
    border: 2px solid #98624c;
    background: #ffffff9e;
    box-shadow: 0px 0px 25px rgb(255, 255, 255);
}

/* why choose us section */

.why-choose-us-section {
    margin: auto;
    width: 70%;
    padding-bottom: 40px;
}

.section-title {
    text-align: center;
    color: #333;
    margin-bottom: 4rem;
    font-size: 2.2rem;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 4rem;

    /* background: linear-gradient(to bottom, #c8ffd4 0%, #fff8df 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.feature-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-item {
    flex: 0 0 calc(33.33% - 2rem);
    border-radius: 20px;
    padding: 2.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(172, 255, 47, 0.275), white);
}

 /* #c8ffd48c, #fff8dee4 */

.feature-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.feature-item p {
    font-size: 1rem;
    color: #666;
}

.feature-item:hover {
    transform: translateY(-1px);
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}